# Build
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# Visual Studio
.vs/

# NuGet
*.nupkg
packages/

# Logs
*.log

# SQLite
*.db
*.db-shm
*.db-wal

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db